<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #fc="ngForm">
    <ion-list>
    <ion-item class="pt-10">
      <ion-input  label="Nome"  label-placement="floating" fill="outline"  placeholder="Nome do produto" [(ngModel)]="prod.nome" name="nome" required ></ion-input>
    </ion-item>

    <ion-item class="pt-10">
      <ion-input type="text" label="Categoria" label-placement="floating" fill="outline" placeholder="Categoria"  [(ngModel)]="prod.categoria"name="email" required ></ion-input>
    </ion-item>

    <ion-item class="pt-10">
      <ion-input type="text" label="Descrição" label-placement="floating" fill="outline" placeholder="Descreva o produto" [(ngModel)]="prod.descricao" name="descricao" required></ion-input>
    </ion-item>

    <ion-item class="pt-10">
      <ion-input label="Quantidade" label-placement="floating" fill="outline" placeholder="Digite a quantidade" [(ngModel)]="prod.quant" name="quantidade" required></ion-input>
    </ion-item>

    <ion-item class="pt-10">
      <ion-input label="Valor" label-placement="floating" fill="outline" placeholder="Digite a valor" [(ngModel)]="prod.valor" name="valor" required></ion-input>
    </ion-item>

    <ion-item class="pt-10">
      <ion-button [disabled]="fc.invalid" slot="end" (click)="save()">Salvar</ion-button> 
      <ion-button color="danger" slot="end">Cancelar</ion-button>
    </ion-item>

  </ion-list>
  </form>
</ion-content>
