<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>userEnter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Entrar</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #fc="ngForm">
    <ion-list>
      <ion-item class="pt-10">
        <ion-input type="email" label="E-mail" label-placement="floating" placeholder="Digite seu email"
          [(ngModel)]="email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></ion-input>
      </ion-item>

      <ion-item class="pt-10">
        <ion-input label="Senha" label-placement="floating" placeholder="Digite sua Senha" [(ngModel)]="senha"
          name="senha" required></ion-input>
      </ion-item>

      <div class="pt-10 ion-text-center">
        <ion-button [disabled]="fc.invalid" (click)="enter()">Entrar</ion-button>
        <ion-button color="danger" routerLink="/">Cancelar</ion-button>
      </div>
      <div class="pt-10 ion-text-center">
        <ion-button color="warning" routerLink="/tabs/userForm">Novo Cadastro</ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>