.pt-10{
    padding: top 10px; ;
}
.pt-20{
    padding: top 10px; ;
}
.pt-30{
    padding: top 10px; ;
}
.pt-40{
    padding: top 10px; ;
}
.pt-50{
    padding: top 10px; ;
}
.text-start{
    text-align: start;
}
.text-center{
    text-align: center;
}
.text-end{
    text-align: end;
}
